# ==============================================================================
# Murabha Cloud - Enterprise Configuration
# ==============================================================================

# Application Environment
NODE_ENV=production
PORT=3000
CORS_ORIGIN=http://localhost

# Database Engine Selection ('postgres' | 'oracle')
DATABASE_TYPE=postgres

# PostgreSQL Configuration (Default & Development)
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Murabha@Cloud2026!
DB_NAME=murabha

# Oracle Database Configuration (When migrating/switched)
ORACLE_HOST=oracle-db.internal
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=FREEPDB1
ORACLE_USER=SYSTEM
ORACLE_PASSWORD=YourOraclePassword!

# Cryptographic & Session Secrets (MUST be altered in production)
JWT_ACCESS_SECRET=c1a8f9024b89df50e93a772c5a083311ec71f98d9e2b85cf1ad02e9bc4d62137
JWT_REFRESH_SECRET=7f51b9d4e782a201c900657e28a4beaf4a889b7829cd88f344e112d8a0f9b362
COOKIE_SECRET=81e3d6f1a8e94a02d4e77bb25ca08191fcd5291b8a4f001cbe04a377d6e491fa
MASTER_MFA_SECRET=NVRW643UMF2HK3DM
